* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter {
    display: flex;
    align-items: baseline;
    height: 80px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.counter button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.counter h3 {
    flex: 1;
    font-size: 24px;
    margin: 0;
}

.counter button.C {
    background-color: #f44336;
}

.counter button.X {
    background-color: #333;
}

.suminfo {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.suminfo h1 {
    color: red;
}

.suminfo button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}